name: test
on: push

jobs:
  test:
    runs-on: ubuntu-22.04
    container: ryuichiueda/ubuntu22.04-ros2:latest

    steps:
      - uses: actions/checkout@v3
      - name: Build and test
        run: |
          WORKSPACE=$GITHUB_WORKSPACE/ros2_ws
          mkdir -p $WORKSPACE/src
          rsync -av ./ $WORKSPACE/src/mypkg/
          cd $WORKSPACE
          colcon build --symlink-install
          source install/setup.bash
          bash $WORKSPACE/src/mypkg/test/test.bash $WORKSPACE

