name: test
on: [push]

jobs:
  test:
    runs-on: ubuntu-22.04
    container: ryuichiueda/ubuntu22.04-ros2:latest

    steps:
      - uses: actions/checkout@v3

      - name: Sync workspace
        run: |
          rsync -av ./ /root/ros2_ws/src/mypkg/

      - name: Build and test
        run: |
          bash ./src/mypkg/test/test.bash /root

